Flask==1.0.2
Flask-SQLAlchemy==2.3.2
geocoder==1.38.1
ipython==7.1.1
numpy==1.15.4
pandas==0.23.4
psycopg2==2.7.6
psycopg2-binary==2.7.6
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
SQLAlchemy==1.2.13
SQLAlchemy-Utils==0.33.6
tqdm==4.28.1
urllib3==1.24.1
yapf==0.24.0
